<div class="section_cta-link wf-section">
        <div class="padding-global">
          <div class="padding-section-large">
            <div class="container-large">
              <div class="lynx-content">
                <div class="lynx-newsletter-image is--pricing-image">
                  <div class="lynx-newsletter-horizontal">
                    <div class="lynx-block-newsletter-text">
                      <h2 class="lynx-heading-white-margin">{{ texts.-2facc8fb }}</h2>
                      <div class="spacer-1rem"></div>
                      <p class="lynx-paragraph-white is--no-bottom-space">{{ texts.7c064f9e }}</p>
                    </div>
                    <a href="{{ links.23 }}" class="lynx-button w-button">{{ texts.41f57511 }}</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>