<div class="section_quote-coaching wf-section">
        <div class="padding-global is--darker">
          <div class="padding-section-large">
            <div class="container-large">
              <div class="lynx-content">
                <div class="lynx-reviews-large">{%- image images.22f495b7.url, images.22f495b7.alt, '[]', 'loading="lazy" class="lynx-icon-reviews"' -%}
                  <div class="lynx-block-reviews-large">
                    <div class="lynx-heading-reviews-large w-richtext">
                      <p>{{ texts.-5fc510ef }}</p>
                    </div>
                    <div class="lynx-client">{%- image images.1758fe8d.url, images.1758fe8d.alt, '[]', 'loading="lazy" class="lynx-image-client"' -%}
                      <div class="lynx-text-client">
                        <h6 class="lynx-heading-client">{{ texts.45a9c485 }}</h6>
                        <div class="lynx-client-info">{{ texts.-2d14798a }}</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>